<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:ddl="http://www.thymeleaf.org/dandelion"
xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
        <script type="text/javascript" src="test.js"></script>
        <link rel="stylesheet" type="text/css" 
    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    </body>
</html>