<!DOCTYPE html>
<html layout:decorator="layouts/template">
<head>
<title>Task List</title>
<div layout:fragment="custom-css">
	<link rel="stylesheet" type="text/css"
		th:href="@{/assets/css/custom-css.css}"
		href="/assets/css/custom-css.css"></link>
</div>
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<form class="form-signin" th:action="@{/login}" method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputEmail" class="sr-only">Email address</label> <input
				type="text" id="inputUserName" name="username" class="form-control"
				placeholder="Username" required="required" autofocus="autofocus" />
			<label for="inputPassword" class="sr-only">Password</label> <input
				type="password" id="inputPassword" name="password"
				class="form-control" placeholder="Password" required="required" />
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me" />
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>
	</div>
</body>
</html>
