<!DOCTYPE html>
<html layout:decorator="layouts/template">
<head>
<title>Task List</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>User list</h1>
		<a href="" th:href="@{/role/process-form/}" class="btn btn-primary">Add
			new role</a>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>description</th>
				<th>Options</th>
			</tr>
			<tr th:each="role : ${roles}">
				<td th:text="${role.name}">ADMIN</td>
				<td th:text="${role.description}">Descrition of admin</td>
				<td>
					<a th:href="@{'/role/'+${role.id}}" class="btn">See</a> 
					<a th:href="@{'/role/update/'+${role.id}}" class="btn">Update</a> 
					<a th:href="@{'/role/delete/'+${role.id}}" class="btn" >Delete</a>
				</td>
			</tr>
		</table>

		<p>
			<a href="../home.html" th:href="@{/dashboard/}">Return to
				Dashboard</a>
		</p>
	</div>
</body>
</html>
